<div class="container">
  <div class="board">
    <img class="img-fluid" src="assets/table.png" alt="Table">
    <img class="appenedimg img-fluid" [@animateArc]="arc">
    <div *ngFor="let player of players">
      <div class="user" id="user{{player.id}}" (click)="modal($event)">
        <div class="logo">
          <img class="img-fluid" id="userImg{{player.id}}" src="{{player.featuredImage}}" alt="">
        </div>
        <div class="comment">
          <p class="text-center">{{player.username}}</p>
        </div>
      </div>
    </div>
  </div>
</div>