  .board {
    position: relative;
    margin-top: 13%;
  }

  img {
    margin: auto;
  }

  .user {
    position: absolute;

    .comment {
      p {
        color: #fff;
        font-size: 20px;
      }
    }
  }

  .logo {
    position: relative;
    z-index: 1;

    img {
      width: 120px;
      height: 120px;
      border-radius: 60px;
    }
  }

  #user1 {
    top: -18%;
    left: 0;

    .logo {
      background-image: url(../../assets/user.png);
    }
  }

  #user2 {
    top: -18%;
    left: 50%;
    .logo {
      background-image: url(../../assets/user.png);
    }
  }

  #user3 {
    top: -18%;
    right: 0;

    .logo {
      background-image: url(../../assets/user.png);
    }
  }

  #user4 {
    top: 50%;
    right: -16%;

    .logo {
      background-image: url(../../assets/user.png);
    }
  }

  #user5 {
    right: 0;

    .logo {
      background-image: url(../../assets/user.png);
    }
  }

  #user6 {
    .logo {
      background-image: url(../../assets/user.png);
    }
  }

  #user7 {
    left: -16%;
    top: 50%;

    .logo {
      background-image: url(../../assets/user.png);
    }
  }

  .appenedimg {
    position: absolute;
    transform: scale(0.5);
    display: block;
    z-index: 100;
    display: none;
  }

  .targetMove {
    transition: all 2s;
  }
